.avatar-wrapper {
  display: flex;
  border-bottom: 1px solid;
  align-items: center;
}

.dark-theme .avatar-wrapper {
  background: #000;
  color: #fff;
  border-bottom-color: #000;
  border-bottom: 1px solid;
}

.chat-line {
  max-width: 75%;
  padding: 1rem;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 1rem;
}

.mainForm {
  background-color: rgb(245, 238, 236);
  /* margin-bottom: 2rem; */
  display: flex;
  background-color: #ffcaff;
  padding: 8px 1rem;
  width: 100%;
}

.mainButton {
  background-color: #dba7db;
  color: white;
  padding: 6px 1rem;
  border-radius: 3px;
  border: none;
  font: bold italic 17px Arial, sans-serif;
}

.userInput {
  background-color: #f5eeed;
  border: none;
  flex: 1;
  margin-right: 0.5rem;
  border-radius: 14px;
}
/* .dark-theme .chat-line {
  background-color: #2f3a3b;
} */

.dark-theme .userInput {
  background-color: #e5e5e5;
}

.dark-theme .mainForm {
  background-color: black;
}

/* .dark-theme .mainButton {
  background-color: #000000;
} */
.user-chat .chat-line {
  background-color: #9bec9b;
  text-align: right;
}
.dark-theme .user-chat .chat-line {
  background-color: #e5e5e5;
  color: black;
}

.ai-chat .chat-line {
  background-color: #dba7db;
}

.dark-theme .ai-chat .chat-line {
  background-color: #000000;
  color: white;
}

.response {
  padding: 1rem;
  overflow: scroll;
  height: 350px;
}

.chat-container {
  display: flex;
}

.chat-container.user-chat {
  justify-content: flex-end;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  padding: 0 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  gap: 20px;
}

.dark-theme .footer {
  background-color: #e5e5e5;
}

.toggleThemeContainer {
  padding: 0 1rem;
}

.ToggleSlider::before {
  content: "DARK";
  position: absolute;
  left: 5px;
  top: 3px;
  font-weight: bold;
  font-size: 18px;
}
.ToggleButton {
  position: relative;
}
