.hero {
  background-color: rgb(255, 202, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  flex-grow: 0;
}
.dark-theme .hero {
  background-color: rgb(47, 58, 59);
}

.logo {
  width: 200px;
}

.dark-theme {
  background-color: #2f3a3b;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chatContainer {
  flex-grow: 1;
}
