.hero {
  background-color: rgb(255, 202, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.dark-theme .hero {
  background-color: rgb(47, 58, 59);
}

.logo {
  width: 200px;
}

.dark-theme {
  background-color: #2f3a3b;
  height: 100vh;
}
