.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "dark";
  height: 36px;
  width: 50px;
  left: 0;
  bottom: -3px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold italic 12px Arial, sans-serif;
}

input:checked + .slider {
  background-color: #dba7db;
}

input:focus + .slider {
  box-shadow: 0 0 1px #dba7db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 6px;
}

.slider.round:before {
  border-radius: 6px;
}
